footer{
    width: 150px;
    background-color: black;
    display: flex;
    flex: row nowrap;
    align-items: center;
    justify-content: end;
}
div a{
    font-size:20px;
    color: lightblue;
}
div a:hover{
    color:orange;
}
.footer {
    font-size: 80;
}