.pokemon-image {
    width: 70%;
    height: auto;
  }
.pokemon-nombre{
    display: flex;
    flex: row nowrap;
    align-items: center;
    justify-content: center;
}
.pokemon-numero{
    display: flex;
    flex: row nowrap;
    align-items: center;
    justify-content: center;
    color: purple;
}
.extra{
    display: flex;
    flex: row nowrap;
    align-items: center;
    justify-content: center;
}
